.Main {
  padding-top: 50px;
  padding-bottom: 50px;
padding-left: 29px;
padding-right:29px ;
  background: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
  
}
.Main h2{
      font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: .05em;
    color: #0f0f21;

}
.Main h3{
    font-weight: 000;
    font-size: 16px;
    letter-spacing: .04em;
    color: #38374a;
}
.Main h5{
  font-weight: bold;
    font-size: 18px;
    
    letter-spacing: .04em;
    color: #38374a;
}
@media screen and (max-width: 700px) {
  .Main {
    padding-top: 0px;
    padding-right: 0px;
    
     
 
  }
  .heading{
    font-size: 25px;
  }
 
}
.content{
  padding-top: 25px;
}
@media screen and (max-width:700px){
  .content{
    padding-top: 0px;
  }
}
.stats-card {
  padding:15px;
  border-radius: 20px;
  border-style: none;
  height: 250px;
  width: 500px;
  

}
@media screen and(max-width:700px){
  .content{
  padding-top:0px;
}
  .stats-card {
  padding:0px;
  border-radius: 20px;
  border-style: none;
  height: 250px;
  width: 470px;
  }
}
.image{
  width: 80px;
  height: 80px;
}
.Button{
  padding-top: 8px;
  
}
.Button1{
  margin: 3px;
  
  background-color: transparent;
  border-radius: 3px;
  border-width: 0.5px;
  border-color: #c7c7c7;
  color:#656574;
  align-items: center;
  text-align: center;
  font-size: 13px;
}



@media screen and (max-width:600px){
  .image{
  width: 60px;
  height: 60px;
}


.Button{
  padding-top: 1px;
}
.Button1{
  
 color:#656574;
  align-items: center;
  text-align: center;
  background-color: transparent;

}}
.tabs{
  padding-top: 20px;

padding-right: 100px;
  

}
.stats {
  padding-top: 15px;
  

}
@media screen and (max-width: 1300px) {
  .tabs {
    display: none;
  }
  .stats-card{
    width:auto;
  }
}
