body {
  padding: 40px 45px;
  background-color: #f5f6fb;
  opacity: 1;

}
@media screen and (max-width: 1000px) {
  body {
   padding: 30px 30px;
  }
}
@media screen and (max-width: 480px) {
  body {
   padding: 20px 20px;
  }
}
.dashboard{
  display: inline-block;
  justify-content: space-between;
}
.introduction{
  padding-top: 17px;
}
.content {
  
  height: 209px;
  background-color: #dfebfe;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.salutation {
  color: #1e4fe5;
  font-size: 35px;
}
.update {
  color: #131336;
  opacity: 1;
  font-size: 20px;
}
.stats {
  padding-top: 40px;
}
.stats-card {
  background-color: #ffffff;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.Title{
      color: #000000;
  font-size: 23px;
}
.box h2 {
  padding-top: 40px;
  padding-left: 18px;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 0px;
  opacity: 1;
  color: #000000;
  text-align: left;
}
.box1 {
  padding-top: 25px; 
}
.box1-1 {
  
  background-color: #9cf6f6;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.box1-2 {
    
  background-color: #ffb8f8;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.box1-3 {
  background-color: #fec9a4;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.box2 {
  padding-top: 40px;
}
@media screen and (max-width: 480px){
  .box2{
    padding-top: 0px;
  }
}
.box2-1 {
  background-color: #ffb1b8;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.box2-2 {
  background-color: #a8dcd1;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
.box2-3 {
  background-color: #aeb1f9;
  border-style: none;
  border-radius: 15px;
  opacity: 1;
}
